@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body {
  padding: 0;
  margin: 0;
  color: #ECECEB;
  background-color: #2E383F;
  font-family: "Poppins";
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #ECECEB;
}
